*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

.container{
    padding-left: 15%;
    padding-right: 15%;
}
.keyboard{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    background: #004134;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    user-select: none;
    transition: bottom 0.4s;
    display: block;
}
.keyboard--hidden{
    bottom: -100%;
    display: none;
}
.keyboard__keys{
    text-align: center;
}
.keyboard__key{
    height: 45px;
    width: 6%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}
.keyboard__key:active{
    background: rgba(255, 255, 255, 0.12);
}
.keyboard__key--wide{
    width: 12%;
}
.keyboard__key--extra-wide{
    width: 36%;
    max-width: 500px;
}
.keyboard__key--activatable::after{
    content: '';
    top: 10px;
    right: 10px;
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;

}
.keyboard__key--active::after{
    background: #08ff00;
}
.keyboard__key--dark{
    background: rgba(0, 0, 0, 0.25);
}

.content{
    width: 100%;
    height: 100vh;
}
.areaTexto{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.content textarea{
    width: 80%; 
    height: 200px;
    max-height: 200px;
    padding: 10px;
}
.conteudo{
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-top: 70px;
}
.conteudo ul{
    width: 50%;
}
.conteudo span{
    width: 50%;
    padding: 20px;
    color: #004;
}
ul{
    list-style-image: url('../images/right-arrow.png');
}
.titleDiv{
    width: 100%;
    text-align: center;
}
@media (max-width: 600px){
    .areaTexto{
        align-items: flex-start;
        margin-top: 100px;
    }
    .content textarea{
        width: 100%;
        height: 100px;
        max-height: 100px;
    }
    .conteudo{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .conteudo ul, .conteudo span{
        width: 100%;
    }
    
    
}

